*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman';
    box-sizing: border-box;
}

body {
    background-image: url(img/background.jpg);
}

.titulo {
    color: #fff;
    text-align: center;
    margin-top: 80px;
    margin-right: 100px;
    font-size: 17px;
}

.container {
    border: 3px solid #1b1c1d;
    width: 710px;
    height: 400px;
    border-radius: 8px;
    margin-left: 345px;
    margin-top: 30px;
    background: linear-gradient(#181b1d, #1b1c1d);
}


.num-questao1,
.num-questao2,
.num-questao3,
.agradecimento {
    display: flex;
    align-items: center;
}

.num-questao1 h3,
.num-questao2 h3{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(255, 111, 0);
    color: #fff;
    margin-top: 58px;
    margin-left: 65px;
    text-align: center;
    padding: 3px;
    font-size: 25px;
}

.num-questao3 h3{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(255, 111, 0);
    color: #fff;
    margin-top: 58px;
    margin-left: 62px;
    text-align: center;
    padding: 3px;
    font-size: 25px;
}

.pergunta1{
    margin-left: 10px;
    margin-top: 50px;
    font-size: 18px;
    color: #fff;
    
}

.pergunta2 {
    font-size: 18px;
    color: #fff;
    margin-left: 110px; /* Adjusted margin */
    margin-top: -27px; /* Adjusted margin */
}


.pergunta3{
    font-size: 18px;
    color: #fff;
    margin-left: 105px; /* Adjusted margin */
    margin-top: -28px; /* Adjusted margin */
}


.respostas1,
.respostas2,
.respostas3{
    margin-top: 20px;
}

.opcao {
    width: 75%; 
    margin-left: 70px ;
    margin-top: 20px;
    padding: 10px;
    border-radius: 2px;
    background-color: #333; 
    color: #fff; 
    cursor: pointer; 
    text-align: center; 
    background-color: (#33393c);
    text-align: left;
}

.opcao:hover{
   background-color: #363636;
}

.opcao.selected {
    background-color: green; /* Change to green when selected */
    color: #fff; /* Keep text color white for contrast */
}

.opcao p{
    margin-left: 5px;
    font-size: 15px;
}

.nav{
    border: none;
    width: 150px;
    height: 30px;
    margin-left: 425px;
    margin-top: 40px;
}

.nav i{
    color: #fff;
    padding: 2px;
    font-size: 13px;
}

.nav button {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
     background-color: transparent; 
    color: #fff;
    border: 1px solid orangered;
}

#btn1 {
    background-color: orangered;
}

#btn-confirma {
    margin-left: 950px;
    margin-top: -30px;
}

#btn-confirma button{
    width: 40px;
    height: 30px;
    background-color: green;
    color: #fff;

}



.num-questao2,
.num-questao3,
.respostas2,
.respostas3,
.agradecimento{
    display: none;
}


.agradecimento{
    font-size: 30px;
    text-align: center;
    color: #fbf8f8;
    margin-top: 150px;
}

.agradecimento i {
    color: yellow;
}



/*  */


